/* Garantir o layout esperado */
.text-donuts {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Alinha os itens ao topo */
    width: 100%;
    flex-wrap: wrap; /* Garantir que o conteúdo se reorganize em telas menores */
}

.text {
    flex: 1;
    margin-right: 30px;
}

.donuts {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os donuts no meio */
    justify-content: flex-start; /* Garantir que fiquem de cima para baixo */
    margin-left: auto; /* Empurra a coluna dos donuts para a direita */
}

.donut {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .text-donuts {
        flex-direction: column;
        align-items: center;
    }

    .donuts {
        flex-direction: row; /* No mobile, mudar os donuts para uma linha */
    }

    .snack-images {
        flex-wrap: wrap;
        justify-content: center;
    }

    .snack-image {
        margin-bottom: 20px;
    }
}
