
body {
    font-family: 'Lato', sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.content {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #ffffff;
}

.TextoEspecial {
    margin-right: auto;
    align-items: center;
    margin-right: 8px;
    background-color: #ffffff;
    margin-bottom: 100px;
}

.TextoEspecial img {
    
    width: 130px;
    height: auto;
    margin-bottom: 0px;
}

.donuts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-left: 8px;
    margin-bottom: 40px;
}

.donuts img {
    width: 80px;
    height: auto;
    margin-bottom: 5px;
}

.snack-images {
    display: flex;
    justify-content: center;
    position: fixed; 
    bottom: 0; 
    left: 0;
    right: 0;
    padding: 20px;
    background-color: #ffffff; 
}


.snack-image {
    width: 180px;
    height: 180px;
    margin: 10px;
    border-radius: 10px;
    object-fit: contain;
    border: 2px solid #ffffff;
}
